#AccueilBody{
  margin: 0;
  background: white;  
}
#Billet{
    height: 70px;
    width: 250px;
    font-size: 1.2em;
    color: white;
    background-color:black ;
    font-weight: bold;

}



#destination{
    height: 70px;
    width: 250px;
    font-size: 1.2em;
    color: white;
    background-color:black ;
    font-weight: bold;
}

.Navigation{
    display: flex;
    gap: 2rem;
}

.Ligne1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ligne2{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
}




#DestinationsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-top: 60px;

    flex-wrap: wrap;
}




.destination-card{
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    padding: 20px;

    border-radius: 20px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}




.destination-card:hover{
    transform: scale(1.05);
}



.destination-card img{
    border-radius: 15px;
}



#Contact{
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 50px;
    
}

#StructureContact{
    width: 50%;
}


#ImageMap{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ImageMap img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}


#header{
    display: flex;
    justify-content: space-between; 
    margin: 0px;
    padding: 0px;
}


#WelcomeMessage{
    text-align: center;
    font-size: 35px;
    justify-content: center;
}


#WelcomeMessage img{
    object-fit: cover; 
    display: block; 
    height: 40rem; 
    width: 100%;
}

#Schedule{
    display: flex; 
    justify-content: center;
}


#Logo{
    width: 500px; 
    height: 300px; 
}

#LogoSeulement{
    height: 50px;
    width: 100px;
}


#ImageDestinations img{
    max-width: 300rem;
    max-height: 30rem;
    padding: 10px;
    border-radius: 20px;

}



.Vol{
    border: 2px solid rgba(0, 0, 0, 0.66); 
    padding: 1rem; 
    border-radius: 20px; 
    width: fit-content;
    border-bottom:2px solid rgba(41, 40, 40, 0.736);

}





.Achat{
    display: flex; 
    align-items: center; 
    justify-content: space-around;
}

.Achat p{
    font-size: xx-large;
}

.Achat button{
    width: 6rem; 
    height: 4rem;
    background-color: green;
}


#VolsDisponibles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}


.AllignementCompagnie{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.AllignementCompagnie img{
    width: 50px;
    height: 40px;
}