#AccueilBody{
  height: 100vh;
  margin: 0;
  background: white;  
}

#destination{
    height: 70px;
    width: 250px;
    font-size: 1.2em;
    color: white;
    background-color:black ;
    font-weight: bold;
    
}


#Billet{
    height: 70px;
    width: 250px;
    font-size: 1.2em;
    color: white;
    background-color:black ;
    font-weight: bold;
}


.Navigation{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.Ligne1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Ligne2{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
}




#DestinationsContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    margin-top: 60px;

    flex-wrap: wrap;
}




.destination-card{
    width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;

    padding: 20px;

    border-radius: 20px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}




.destination-card:hover{
    transform: scale(1.05);
}



.destination-card img{
    border-radius: 15px;
}



#Contact{
    background-color: black;
    color: white;
    padding: 40px;
    margin-top: 50px;
    
}

#StructureContact{
    width: 25%;
}


#ImageMap{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



